/* Encriptador - Desktop */
.fondo-general {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

/* Logo - Auto layout*/
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
