/*
❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚
D E S K T O P 
❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚
*/

body{
    font-family: 'Inter', sans-serif;
}

.fondo-general {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

/* Logo - Auto layout*/
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.contenedor-principal, .contenedor-piedepagina{
    width: 100%;
}

/*Formulario*/
.formulario{
    display: inline-block;
}


/* Caja de ingrese el texto aqui */

.cajadetexto {
    /*Apariencia de la caja*/
    border-width: 0;
    background: 000;
    position: absolute;
    width: 50%;
    height: 677px;
    resize: none;
    left: 240px;
    top: 168px;
    /*texto interno*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.cajadetexto:hover{
    box-shadow: inset 2px 2px 2px 2px #495057;
}

/*Alerta de indicaciones*/

.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

}


.textoalerta{
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*Botones de encriptar y desincriptar*/

.botonera {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.boton {
    box-sizing: border-box;
    display: inline-block;
    padding: 24px;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    transition: 500ms;

}

.boton:hover{
    transform: scale(1.1);
}

#encriptar {
    background: #0A3871;
    color: #FFFFFF;
}

.caja-resultado{
    position: relative;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.personaje{
    margin: 243px 0 0 0;
    width: 336px;
    height: 304px;
}

.mensaje-resultado{

    padding: 0px;
    width: 336px;
    margin: 32px 32px 0 32px;}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.mensaje-resultado p{
    /* Ingresa el texto que desees encriptar o desencriptar. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 16px 0 0 0;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#mensaje-vacio{
    position: absolute;
    z-index:1;
    visibility: visible;
}
    
#mensaje-procesado{
    position: absolute;
    z-index:2;
    visibility: hidden;

}

#copiar{
    width: 336px;
}

#impresionParametros {
    width: 240px;
    height: 410px;
    font-size: 20px;
}

footer{
    text-align: center;
    background: #0A3871;
    padding:40px;
    width: 100%;
}

footer img{
    height: 100px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}

.redes-logo{
    width: 50px;
    height: auto;
    display: inline-block;
}

/*
❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚
M E D I A    P A N T A L L A 
❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚❚
*/

@media screen and (min-width: 821px) and (max-width: 1024px){

    .logo{

        width: 100px;
        height: 38px;
      
    }
    
    .cajadetexto {

        width: 40%;
        height: 350px;
        left: 120px;
        top: 100px;
        font-size: 25px;
        padding: 15px;
    }

    .alerta {
        position: absolute;
        width: 229px;
        height: 18px;
        left: 120px;
        top: 490px;
    
    }
      
    .botonera {
        width: 680px;
        height: 67px;
        left: 120px;
        top: 530px;
    }

    .caja-resultado{
        width: 300px;
        height: 594px;
        left: 850px;
        top: 40px;

    }
    .personaje{
        margin: 0 auto;
        transform: scale(0.6);
        position: absolute;
        left: -70px;
    }
    
    .mensaje-resultado{
    
        padding: 0px;
        width: 240px;
        margin: 32px 32px 0 32px;}
    
    h2 {
        margin: 300px 0 0;
    }
    
    .mensaje-resultado p{
        margin: 30px 0 0;
    }
    #impresionParametros{
        width: 240px;
        height: 440px;
        font-size: 20px;
    }

    #copiar{
        width: 240px;
    }

    footer {
        padding: 0;
    }

    .contenedor-piedepagina{
        width: 60%;
        padding: 3px;
    }

    .hechopor{
        width: 50%;
        display: inline-block;

    }

    footer img{
        transform: scale(0.5);
        float:left;
        margin: 0 20px 20px 0;
    }
    
    .copyright{
        margin: 0;
        text-align: left;
        padding: 10px;
    }
    
    .seguime{
        display: inline-block;
        width: 34%;
        float: right;
    }

    .redes-logo{
        height: auto;
        display: inline-block;
    }
   
}